<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div style="width: 100%;text-align: center; color: white;background-color: #313231; background-image: url(http://{{urlmail}}/static/assets/images/titulosidewhite2.png); background-size: 80px; font-family: sans-serif">
    <div style="padding: 20px;">
      <h3>Email de contato - Fórum Sinergia</h3>
      <br>
      <fieldset>
        <legend><strong>Nome:</strong></legend>
        <p>{{nome}}</p>
      </fieldset>
      <br>
      <fieldset>
        <legend><strong>Assunto:</strong></legend>
        <p>{{assunto}}</p>
      </fieldset>
      <br>
      <fieldset>
        <legend><strong>E-mail:</strong></legend>
        <p>{{email}}</p>
      </fieldset>
      <br>
      <fieldset>
        <legend><strong>Mensagem:</strong></legend>
        <p>{{mensagem}}</p>
      </fieldset>
      
      <img style="width: 200px; max-width: 50%;" src="http://{{urlmail}}/static/assets/images/logo-nav-btn2.png">
    </div>
  </div>
</body>
</html>