
  {% block footer %}

<section id="contato">
    <div class="box-foot">
  
      <div class="container" style="position: relative;">
        <h2 class="tittle-item text-white text-center">
                <i class="material-icons">question_answer</i> Contato</h2>
        <div class="cont-foot">
            
          <form action="#contato" data-slide="left" class="contact-form slideanim" autocomplete="off" method="POST">
            {% csrf_token %}
            {% for field in form %}
              {{ field }}
            {% endfor %}
            <input type="submit" class="gradient-btn" value="Enviar">
          </form>
        </div>
  
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3969.3072890836543!2d-35.20529637286557!3d-5.812206654199581!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7b2ffe4d7b15191%3A0x5c55d75db98a785e!2sIFRN!5e0!3m2!1spt-BR!2sbr!4v1533176032756" width="600" height="450" frameborder="0" style="border:0; margin: 0; padding: 0; filter: grayscale(100)" allowfullscreen></iframe>
  
      </div>
  
      <div class="box-info-foot">
        <div class="container">
          <div data-slide="left" class="info-foot-item slideanim">
            <h3>Redes Sociais:</h3>
            <li>- contato@forumsinergia.com</li>
            <li>- (84) 9 9999-9999</li>
            <br>
            <a href="" target="_blank"><img src="{% static 'images/facebook-circular-logo.png' %}"></a>
            <a href="" target="_blank"><img src="{% static 'images/linkedin.png' %}"></a>
          </div>
          <div data-slide="right" class="info-foot-item slideanim">
            <h3>Localização:</h3>
            <p>Auditório IFRN - Campus Central</p>
          </div>
        </div>
      </div>		
      
  
        <div class="col-md-12 text-center" style="height: 200px;">
          <img class="logo-footer" src="{% static 'images/logo-nav-btn2.png' %}" alt="">
        </div>
  
        <br>
      <div class="eject">
          <a href="http://ejectufrn.com.br/" target="_blank"><p>Powered by © EJECT 2018<img src="{% static 'images/eject.png' %}"></p></a>
      </div>
  
    </div>
  </section>
  {% endblock %}