{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Fórum Sinergia Corporativa</title>
  <meta name="description" content="O Fórum Sinergia Corporativa teve sua primeira edição em 2016, com o propósito de ampliar a performance corporativa através da transferência de conhecimento, de ampliar as conexões e contribuir para o desenvolvimento de pessoas e organizações por meio do conhecimento, inovação e experimentos, com forte contribuição de diversos agentes da sociedade potiguar.">
  <meta name="keywords" content="sinergia, forum, corporativa, potiguar, data, forum sinergia, fórum, fórum sinergia, encontro, local"/>
  <meta name="robots" content="index, nofollow">
  <link rel="icon" href="{% static 'images/iconlogo.png' %}" type="image/x-icon">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body data-spy="scroll" style="position: relative" data-offset="91">

  <!-- Navbar -->

  <nav class="navbar fixed-top navbar-expand-lg" id="navbar">
    <div class="container">
      <a class="img-logo" href="">
        <img src="{% static 'images/logo-nav.png' %}">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="material-icons text-white">menu</i>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link underline-btn" href="#inicio">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link underline-btn" href="#ingresso">Ingressos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link underline-btn" href="#sobre">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link underline-btn" href="#programacao">Programação</a>
          </li>
          <li class="nav-item">
            <a class="nav-link underline-btn" href="#palestrantes">Palestrantes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link underline-btn" href="#faqs">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link underline-btn" href="#parceiros">Parceiros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link underline-btn" href="#contato">Contato</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Home Contador -->

  <div class="box-home" id="inicio">
    <canvas id="canvas"></canvas>
    <img src="{% static 'images/ifrnbalck.png' %}">
    <div class="contador">
      <div class="text-center text-white">
        <h1>Contagem Regressiva</h1>
        <ul>
          <li>
            <span id="days">**</span>Dias</li>
          <li>
            <span id="hours">**</span>Horas</li>
          <li>
            <span id="minutes">**</span>Minutos</li>
          <li>
            <span id="seconds">**</span>Segundos</li>
        </ul>
      </div>
    </div>
    <div class="shadow-home"></div>
  </div>

  <!-- Ingresso -->

  <section id="ingresso">
    <div class="ingresso-box">
      <div class="spin-box">
        <img class="spin-img" src="{% static 'images/spin/1.png' %}">
        <img class="spin-img" src="{% static 'images/spin/2.png' %}">
        <img class="spin-img" src="{% static 'images/spin/3.png' %}">
        <img class="spin-img" src="{% static 'images/spin/4.png' %}">
        <img class="spin-img" src="{% static 'images/spin/5.png' %}">
      </div>
      <div class="container" style="position: relative;">
        <div class="row">
          <h1 class="text-center w-100">Compre o seu Ingresso</h1>
          <div class="col-md-12 text-center d-flex justify-content-center">
            <div class="box blue"></div>
            <div class="box red"></div>
            <div class="box yellow"></div>
          </div>
          <div class="col-md-12 text-white d-flex justify-content-center" style="margin-top: 80px">
            <a href="https://www.sympla.com.br/iii-forum-sinergia-corporativa__313548" target="_blank"><div class="gradient-btn">Clique Aqui</div></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Sobre & Programação -->


  {% if intros %}
  <section style="overflow-x: hidden; position: relative;">
    <div class="shadow-top"></div>
    <div class="row text-white inner-about" style="background-color: #525252">

        {% for intro in intros %}
          <div class="col-md-4">
            <div class="container p-5 text-center">
              <div class="box-icon-about" style="background-color: #{{intro.cor}}">
                <img class="img-about" src="{{ intro.icone.url }}">
              </div>
              <h3>{{intro.titulo}}</h3>
              <p class="text-justify">
                {{intro.texto}}
              </p>
            </div>
          </div>
        {% endfor %}

    </div>

  </section>
  {% endif %}

  <section id="sobre" class="position-relative">
    <img class="img-fundo" src="{% static 'images/fundopalestra2.png' %}">
    {% if sobre %}
    <div class="box-sobre text-white position-relative">
      <div class="container">
        <h2 class="tittle-item">
          <i class="material-icons">subject</i> Sobre</h2>
        <br>
        <div class="row d-flex align-items-center">
          <div class="col-md-6 text-justify">
            {{sobre.texto}}
          </div>
          <div class="col-md-6 text-center">
            <a href="{{sobre.link}}"><img class="img-sobre" src="{{sobre.imagem.url}}"></a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    {% if programacao %}
      <div class="box-prog position-relative" id="programacao">
          <div class="container">
            <h2 class="tittle-item text-white"><i class="material-icons">watch_later</i> Programação</h2>
            <ul class="timeline">

              {% for item in programacao%}
    
              <li>
                <div class="{{item.lado}}">
                  <div class="flag-wrapper">
                    <span class="flag">{{item.balao}}</span>
                    <span class="time-wrapper">
                    </span>
                  </div>
                  <div class="desc text-white">{{item.texto}}</div>
                </div>
              </li>

              {% endfor %}
    
            </ul>
          </div>
        </div>
        {% endif %}
  </section>

  <!-- Palestrantes -->

  <section id="palestrantes">
    <div class="pales-box">

      <div class="container" style="text-align-last: justify; position: relative;">
        <h2 class="text-white tittle-item" style="display: inline-block;">
          <i class="material-icons">record_voice_over</i> Palestrantes</h2>
        <div id="customNav" class="owl-nav"></div>
        <br>

        <div class="owl-carousel" id="carousel-palestrantes">

          {% if palestrantes %}
          {% for palestrante in palestrantes%}
          <div class="palestrante">
            <img src="{{palestrante.imagem.url}}">
            <div class="pales-txt">
              <h5>{{palestrante.nome}}</h5>
              <p>{{palestrante.profissao}}</p>
              <a href="/palestrante/{{palestrante.slug}}"><div class="gradient-btn sobre-btn">Ver Mais</div></a>
            </div>
          </div>
          {% endfor %}
          {% endif %}


        </div>

      </div>
    </div>
  </section>
  
  <!-- Ja Rolou -->

  {% if jarolou %}
  <section id="rolou" class="pt-5 pb-5" style="background-color: #d6d6d6; margin-top: 0px;">
    <div class="container">
      <h2 class="tittle-item">
        <i data-cor="blue" class="material-icons">live_tv</i> O que já Rolou
      </h2>
      <h4 class="mb-5 mt-3 text-center font-weight-light">
        {{ jarolou.descricao }} 
      </h4>
      <div class="row d-flex align-items-stretch">
        <div class="col-md-6 align-self-center border-0 pt-1">
          <iframe src="https://www.youtube.com/embed/{{ jarolou.link }}" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
        </div>
        <div class="col-md-6 align-self-center" id="corroceis-owl">


           


          <div class="rolou-owl">
            <div class="owl-carousel owl-theme pales-owl text-center carousel-rolou" id="carousel-rolou1">
              <!-- <img onclick="modalFoto(this)" src="media/imagens/palestrante1.jpg" alt="droga"> -->
            </div>
          </div>

          <div class="rolou-owl">
            <div class="owl-carousel owl-theme pales-owl text-center carousel-rolou" id="carousel-rolou2">
              <!-- <img onclick="modalFoto(this)" src="media/imagens/palestrante1.jpg" alt="merda"> -->
            </div>
          </div>

          <div class="rolou-owl">
            <div class="owl-carousel owl-theme pales-owl text-center carousel-rolou" id="carousel-rolou3">
              <!-- <img onclick="modalFoto(this)" src="media/imagens/palestrante2.jpg" alt="bosta" id="coisa"> -->
            </div>
          </div>

        </div>
      </div>
  
      <div class="modal fade" id="modalFoto" tabindex="-1" role="dialog" aria-labelledby="modalFoto" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h5 class="modal-title text-center" id="alt-modal"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center" id="appende">
              <img style="width: 100%; height: auto; border: 6px solid white" id="img-modal">
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </section>
  {% endif %}

  <!-- FAQ -->

  {% if perguntas %}
  <section id="faqs" class="position-relative">
    <img class="img-fundo" src="{% static 'images/fundopalestra2.png' %}">
    <div class="faq text-white position-relative">
      <div class="container">
        <h2 class="tittle-item">
          <i data-cor="blue" class="material-icons">contact_support</i> Perguntas Frequentes</h2>
        
        {% for pergunta in perguntas %}
        <div class="item-faq">
          <h5>
            <li> {{pergunta.pergunta}}
              <i class="material-icons faq-arrow">play_arrow</i>
            </li>
          </h5>
          <p>{{pergunta.resposta}}</p>
        </div>
        {% endfor %}

      </div>
    </div>
  </section>
  {% endif %}

  <!-- Parceiros -->

  {% if parceiros %}
  <section id="parceiros">
    <div class="parceiros-box">
      <div class="container">
        <div class="parceiros container text-center">

          <h2 class="tittle-item">
            <i data-cor="blue" class="material-icons">group</i> Co-realizadores</h2>
              {% for parceiro in parceiros %}
                {% if parceiro.tipo == 'co' %}
                <a href="{{parceiro.link}}" target="_blank">
                  <img src="{{parceiro.imagem.url}}" alt="{{parceiro.nome}}">
                </a>
                {% endif %}
              {% endfor %}
          <h2 class="tittle-item">
            <i data-cor="blue" class="material-icons">group</i> Parceiros</h2>
              {% for parceiro in parceiros %}
                {% if parceiro.tipo == 'par' %}

                <a href="{{parceiro.link}}" target="_blank">
                  <img src="{{parceiro.imagem.url}}" alt="{{parceiro.nome}}">
                </a>
                {% endif %}
              {% endfor %}
          <h2 class="tittle-item">
            <i data-cor="blue" class="material-icons">group</i> Apoiadores</h2>
              {% for parceiro in parceiros %}
                {% if parceiro.tipo == 'apo' %}
                <a href="{{parceiro.link}}" target="_blank">
                  <img src="{{parceiro.imagem.url}}" alt="{{parceiro.nome}}">
                </a>
                {% endif %}
              {% endfor %}
          
        </div>
      </div>
    </div>
  </section>
  {% endif %}

  <!-- Footer -->

<section id="contato">
	<div class="box-foot">

		<div class="container" style="position: relative;">
      <h2 class="tittle-item text-white text-center">
              <i class="material-icons">question_answer</i> Contato</h2>
			<div class="cont-foot">
        {% if is_valid%}
          <script type="text/javascript">
              alert("Sua mensagem foi enviada com sucesso. O Fórum Sinergia agradece pelo seu contato!");
          </script>
        {% endif %}  
				<form action="#contato" data-slide="left" class="contact-form slideanim" autocomplete="off" method="POST">
          {% csrf_token %}
					{% for field in form %}
						{{ field }}
          {% endfor %}
          <input type="submit" class="gradient-btn" value="Enviar">
				</form>
			</div>

			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3969.3072890836543!2d-35.20529637286557!3d-5.812206654199581!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7b2ffe4d7b15191%3A0x5c55d75db98a785e!2sIFRN!5e0!3m2!1spt-BR!2sbr!4v1533176032756" width="600" height="450" frameborder="0" style="border:0; margin: 0; padding: 0; filter: grayscale(100)" allowfullscreen></iframe>

		</div>

		<div class="box-info-foot">
			<div class="container">
				<div data-slide="left" class="info-foot-item slideanim">
					<h3>Redes Sociais:</h3>
          <li>contato@convictus.com.br</li>
          <li>(84) 9 8105-2911</li>
          <br>
					<a href="https://www.facebook.com/forumsinergiacorporativa/" target="_blank"><img src="{% static 'images/facebook-circular-logo.png' %}"></a>
          <a href="https://www.instagram.com/forumsinergia/" target="_blank"><img src="{% static 'images/instagram-logo.png' %}"></a>
				</div>
				<div data-slide="right" class="info-foot-item slideanim">
					<h3>Localização:</h3>
					<p>Auditório IFRN - Campus Central</p>
				</div>
			</div>
    </div>		
    

      <div class="col-md-12 text-center" style="height: 200px;">
        <img class="logo-footer" src="{% static 'images/logo-nav-btn2.png' %}" alt="">
      </div>

      <br>
		<div class="eject">
				<a href="http://ejectufrn.com.br/" target="_blank"><p>Powered by © EJECT 2018<img src="{% static 'images/eject.png' %}"></p></a>
		</div>

	</div>
</section>

<script>  
  document.getElementById("id_url").value = window.location.host;

  {% if contador %}
    var contadorData = "{{contador.data}}";
  {% endif %}
</script>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>

<script>

  var owlCarro = [];

{% if jaroloufotos %}
  {% for foto in jaroloufotos %}
    owlCarro.push("<img onclick='modalFoto(this)' src='{{foto.imagem.url}}' alt='{{foto.descricao}}'>");
  {% endfor %}
{% endif %}

var owlLast = 1;
owlCarro.forEach(function(item, index){
  switch (owlLast) {
    case 1:
      console.log(item);
      $("#carousel-rolou1").append(item);
      owlLast = 2;
      break;
    case 2:
      $("#carousel-rolou2").append(item);
      owlLast = 3;
      break;
    case 3:
      $("#carousel-rolou3").append(item);
      owlLast = 1;
      break;
  }
  if (index == owlCarro.length - 1){ chamaOwl() }
});

  function chamaOwl() {
    console.log("FOOI")
    $('.carousel-rolou').owlCarousel({
      // navContainer: '#customNavRolou',
      // navText: ["◂", "▸"],
      nav: false,
      loop: true,
      // margin: 10,
      responsiveClass: true,
      autoplay: true,
      autoplayTimeout: 2000,
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 2, nav: false, loop: true,
        },
        780: {
          items: 2, nav: false, loop: true,
        },
        1000: {
          items: 3, nav: false, loop: true,
        },
      },
    });
  }

function modalFoto(element) {
  var ele = document.getElementById("img-modal");
  ele.src = element.src;
  var eleAlt = document.getElementById("alt-modal");
  eleAlt.innerHTML = element.alt;
  $("#modalFoto").modal({ show: true })
}

</script>

</body>

</html>