{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Fórum Sinergia Corporativa</title>
  <link rel="icon" href="{% static 'images/iconlogo.png' %}" type="image/x-icon">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <!-- <link rel="stylesheet" href="assets/css/owl.carousel.min.css"> -->
  <!-- <link rel="stylesheet" href="assets/css/owl.theme.default.min.css"> -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body data-spy="scroll" style="position: relative" data-offset="91">

  <!-- Navbar -->

  <nav class="navbar fixed-top navbar-expand-lg" id="navbar">
    <div class="container">
      <a class="img-logo" href="">
        <img src="{% static 'images/logo-nav.png' %}">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="material-icons text-white">menu</i>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link underline-btn" href="/">Início</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



<section style="padding: 150px 0 60px 0; background-color: #636363; background-image: url({% static 'images/titulosidewhite2.png' %}); background-size: 80px">

  {% if palestrante %}
  <div class="container text-white">
    <div class="row">
      <div class="col-md-6">
        <img class="w-100" src="{{palestrante.imagem.url}}">
      </div>
      <div class="col-md-6">
        <h2 class="">{{palestrante.nome}}</h2>
        <h4>{{palestrante.profissao}}</h4>
        <p><i class="material-icons align-middle pb-1 mr-2">record_voice_over</i>{{palestrante.dia}}</p>
        {{palestrante.texto|linebreaks}}
      </div>

    </div>

  </div>
  {% endif %}

</section>





<section id="contato">
    <div class="box-foot">
  
      <div class="container" style="position: relative;">
        <h2 class="tittle-item text-white text-center">
                <i class="material-icons">question_answer</i> Contato</h2>
        <div class="cont-foot">
          {% if is_valid%}
          <script type="text/javascript">
              alert("Sua mensagem foi enviada com sucesso. O Fórum Sinergia agradece pelo seu contato!");
          </script>
          {% endif %} 
            
          <form action="#contato" data-slide="left" class="contact-form slideanim" autocomplete="off" method="POST">
            {% csrf_token %}
            {% for field in form %}
              {{ field }}
            {% endfor %}
            <input type="submit" class="gradient-btn" value="Enviar">
          </form>
        </div>
  
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3969.3072890836543!2d-35.20529637286557!3d-5.812206654199581!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7b2ffe4d7b15191%3A0x5c55d75db98a785e!2sIFRN!5e0!3m2!1spt-BR!2sbr!4v1533176032756" width="600" height="450" frameborder="0" style="border:0; margin: 0; padding: 0; filter: grayscale(100)" allowfullscreen></iframe>
  
      </div>
  
      <div class="box-info-foot">
        <div class="container">
          <div data-slide="left" class="info-foot-item slideanim">
            <h3>Redes Sociais:</h3>
            <li>contato@convictus.com.br</li>
            <li>(84) 9 8105-2911</li>
            <br>
            <a href="https://www.facebook.com/forumsinergiacorporativa/" target="_blank"><img src="{% static 'images/facebook-circular-logo.png' %}"></a>
            <a href="https://www.instagram.com/forumsinergia/" target="_blank"><img src="{% static 'images/instagram-logo.png' %}"></a>
            <!-- <a href="" target="_blank"><img src="{% static 'images/linkedin.png' %}"></a> -->
          </div>
          <div data-slide="right" class="info-foot-item slideanim">
            <h3>Localização:</h3>
            <p>Auditório IFRN - Campus Central</p>
          </div>
        </div>
      </div>		
      
  
        <div class="col-md-12 text-center" style="height: 200px;">
          <img class="logo-footer" src="{% static 'images/logo-nav-btn2.png' %}" alt="">
        </div>
  
        <br>
      <div class="eject">
          <a href="http://ejectufrn.com.br/" target="_blank"><p>Powered by © EJECT 2018<img src="{% static 'images/eject.png' %}"></p></a>
      </div>
  
    </div>
  </section>
  
  <script>
    
    document.getElementById("id_url").value = window.location.host;

    {% if valido %}
      alert("Formulário Enviado com Sucesso.");
    {% endif %}
  </script>
  
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <!-- <script src="{% static 'js/owl.carousel.min.js' %}"></script> -->
  <!-- <script src="{% static 'js/index.js' %}"></script> -->
  
  </body>
  
  </html>